@model IEnumerable<ProyectoFinal.Entities.AspNetUser>
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Head_Foot.cshtml";
}

<h1>&emsp; Informacion de Usuario</h1>

<p>

</p>

@foreach (var item in Model) {
            @if (@UserManager.GetUserName(User) == item.UserName)
            {
       
              
                @Html.HiddenFor(modelItem => item.UserName)
           
                    @Html.HiddenFor(modelItem => item.NormalizedUserName)

                @Html.HiddenFor(modelItem => item.Email)
          
                @Html.HiddenFor(modelItem => item.NormalizedEmail)
         
                @Html.HiddenFor(modelItem => item.EmailConfirmed)
            
                    @Html.HiddenFor(modelItem => item.PasswordHash)
          
                    @Html.HiddenFor(modelItem => item.SecurityStamp)
         
                    @Html.HiddenFor(modelItem => item.ConcurrencyStamp)
            
                    @Html.HiddenFor(modelItem => item.PhoneNumber)
          
                    @Html.HiddenFor(modelItem => item.PhoneNumberConfirmed)
         
                    @Html.HiddenFor(modelItem => item.TwoFactorEnabled)
           
                    @Html.HiddenFor(modelItem => item.LockoutEnd)
            
                    @Html.HiddenFor(modelItem => item.LockoutEnabled)
            
                    @Html.HiddenFor(modelItem => item.AccessFailedCount)
            
          
           
                   
          
         


                <section style="background-color: #eee;">
                    <div class="container py-5">


                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card mb-4">
                                    <div class="card-body text-center">
                                <img src="https://images.rawpixel.com/image_png_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjkzNy1hZXctMTExXzEucG5n.png" alt="avatar"
                                             class="rounded-circle img-fluid" style="width: 150px;">
                                <h5 class="my-3">@Html.DisplayFor(modelItem => item.Nombres)  @Html.DisplayFor(modelItem => item.Apellidos)</h5>
                                
                                        <div class="d-flex justify-content-center mb-2">
                                    <a asp-action="Edit" asp-route-id="@item.Id">Editar Informacion</a>
                                </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-8">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Nombre completo</p>
                                            </div>
                                            <div class="col-sm-9">
                                                        <p class="text-muted mb-0">@Html.DisplayFor(modelItem => item.Nombres)  @Html.DisplayFor(modelItem => item.Apellidos)</p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Direccion</p>
                                            </div>
                                            <div class="col-sm-9">
                                        <p class="text-muted mb-0">  @Html.DisplayFor(modelItem => item.Direccion)</p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Numero</p>
                                            </div>
                                            <div class="col-sm-9">
                                        <p class="text-muted mb-0">  @Html.DisplayFor(modelItem => item.Numero)</p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Numero Adiccional</p>
                                            </div>
                                            <div class="col-sm-9">
                                        <p class="text-muted mb-0">    @Html.DisplayFor(modelItem => item.NumeroAdiccional)</p>
                                            </div>
                                        </div>
                                        <hr>
                                   
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>

}
   
    }

 &emsp;&emsp; <button><a id="manage" class="nav-link " asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"> Atras </a></button>



